*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing: 0.1em;
	color: #1f1f21;
	background: #cecece;
	height: 100vh;
	overflow-y: auto;
}

.buttons-container{
    position: relative;
    margin: auto;
}

.video-player{
    width: 100%;
    max-height: 500px;
}

.small-screen-container{
    height: 180px;
    
}

.screen-container{
    width: -webkit-fill-available;
}

.upbar{
    margin: 10px 0;
    position: relative;
    z-index: 99;
}

/* Content */
.footcontent {
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 2vw;
}


.search-area{
    position: absolute;
	padding: 0;
	border: 0;
	background: none;
	right: 0;
    border-radius: 2px;
    height: 38px;
    overflow: hidden;
}

.search-area:hover{
    overflow: visible;
}

.search-box{
    overflow: hidden;
    border-radius: 20px;
    background: white;
    margin: 0 0 0 auto;
    width: 50px;
    transition: width .6s ease-out,visibility .6s 1ms ease-out;
}

.search-area:hover .search-box{
    border-radius: 2px;
    width: 250px;
}

.search-box-input[type=text] {
    padding: 6px 0px;
    font-size: 17px;
    border: none;
    margin-left: 10px;
    width: 0px;
    transition: width .6s ease-out,visibility .6s 1ms ease-out;
}

.search-area:hover .search-box-input[type=text]{
	width: 200px;
}

.search-button {
    float: right;
    padding: 5px 10px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    background: white;
}

.search-result{
	width: 0px;
    background: white;
}

.search-area:hover .search-result{
    width:250px;
}

.search-box-input[type=text]:focus, button:focus{
    outline: 0;
}

.result-list{
    padding: 0;
    max-height:400px;
    overflow-y: auto;
}

.result-list::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 4px;
}

.result-list::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
}

.result-list::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
}

.result-list-item{
    list-style: none;
    cursor: pointer;
    overflow: hidden;
    max-height: 36px;
    line-height: 36px;
    padding: 0 6px;
}

.result-list-item:hover{
    background: whitesmoke;
}

/*the highlight color of the current lyric line*/
.current-line {
    color: white;
}

.album_cover{
    max-width: 100%;
    right: 0;
}

#lyricWrapper {
    height: 80px;
    overflow: hidden;
    position: absolute;
    color: rgba(200, 200, 200, 0.5);
    font-size: 18px;
    top: 0;
    left:50%;
    transform: translate(-50%, 0);
}

#lyricContainer {
    position: relative;
    margin-top: -120px;
}

#lyricContainer p{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    padding: 0 10px;
}

.hjr_button_icon{
    list-style: none;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.hjr_button_icon:hover{
    cursor: pointer;
}

.play_button_icon {
    width: 64px;
    height: 64px;
    background: url("../images/icons/play-64.png");
}

.next_button_icon {
    width: 32px;
    height: 32px;
    background: url("../images/icons/next-32.png");
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

.dropdown {
    position: absolute;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 330px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

.dropdown-content::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 4px;
}

.dropdown-content::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
}

.dropdown-content::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
}

.dropdown-content a {
    color: black;
    padding: 6px 12px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    font-size: 16px;
    height: 36px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.msg-container{
    max-height: 250px;
    position: absolute;
    bottom: 0;
    padding: 0 6px;
}

.message-box {
    position: relative;
    color: white;
    overflow-y: auto;
    height: 250px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(255, 0, 0, 0));
}

.message-box::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 4px;
}

.message-box::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
}

.message-box::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
}

.delete_button_icon {
    opacity: 0;
    height: 24px;
    width: 24px;
    float: right;
    background-repeat: no-repeat;
    background-position: center;
    background: url("/static/images/icons/delete.png");
}

.delete_button_icon:hover {
    background: url("/static/images/icons/delete-hover.png");
}

.dropdown-content a:hover .delete_button_icon {
    opacity: 1;
}

.isplaying{
    background-color: antiquewhite;
}

.num-index,
.owner,
.songname{
    float: left;
    height: 24px;
    overflow: hidden;
}

.num-index{
    width: 30px;
}

.owner {
    width: 80px;
}

.songname {
    width: 160px;
    font-family: cursive;
    font-weight: bolder;
}


.overlay {
	position: absolute;
	z-index: 10;
	top: 0px;
	left: 0px;
    right: 0px;
	justify-content: center;
	align-items: center;
    overflow: hidden;
    background: whitesmoke;
    height: 0;
    /* height is toggle */
}

.overlay--loader {
	z-index: 1000;
	background: #fff;
}

.overlay--info {
	background: rgba(23,94,236,0.4);
}

.overlay--menu {
	background: rgba(255,25,25,0.66);
}